<nav>
    <ol
        style="display: flex; flex-direction: row; list-style: none; gap: 0.5rem; text-align: center;">
        <li><a class="btn-primary" href="/">Home</a></li>
        <span>/</span>
        <div> Explore Categories</div>
    </ol>
</nav>
</div>
<div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; padding-bottom: 2rem; gap: 1rem;">
    <% if (categories != '') { %>
    <% categories.forEach((item, index) => { %>
        <a href="/category/<%= item.category %>"style="text-align: center; padding: 1rem; text-decoration: none; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
        <div>
            <img src="/uploads/<%= item.image %>"
                alt="Explore Categories"
                style="max-width: 400px;  width: 100%; height: 300px;  border-radius: 5px;" loading="lazy">
        </div>
        <div style="color: darkslategray; padding-top: 0.5rem;">
            <%= item.category %>
        </div>
    </a>
    <% }) %>
    <% } else { %>
    <p>No Item found.</p>
    <% } %>
</div>